<header class="nav">
  <ul>
      <li><%= link_to "Log In",login_path  %></li>
      <li><%= link_to "Sign up",  %></li>
    <% else %>
      <li><%= link_to "Log out",  %></li>
      <li><%= link_to "Test",  %></li>
      <li><%= link_to "About US",  %></li>
</ul>
